{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<div class="section" id="history">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Expense Type</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in history %}
                <tr>
                    <td>{{ row.type }}</td>
                    <td>{{ row.amount }}</td>
                    <td>{{ row.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}